<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('_parts/header.ejs') %>
    </header>
    <main>
        main here
    </main>
    <footer>
        <%- include('_parts/footer.ejs') %>
    </footer>
</body>
</html>